    <div class="card">
      <ul>
        <li><%= @card.email %></li>
        <li><%= @card.phone_number %></li>
        <li><%= @card.organization %></li>
        <li><%= @card.position %></li>
      </ul>
    </div>


    <% if current_user %>
      <button> ADD ME </button>

      <script>

      $(".addbutton").on("click", function() {
        $.post("/connections", {user: <%=current_user.id %>, card: <%= @card.id%>})
      });
      </script>
    <% else %>
     <%= render 'form' %>
    <% end %>

 