<div class="form">

    <div class="card">
      <ul>
        <li><%= @card.email %></li>
        <li><%= @card.phone_number %></li>
        <li><%= @card.organization %></li>
        <li><%= @card.position %></li>
      </ul>
    </div>


    <% if current_user %>
      <button class='addconnection'> ADD ME </button>

      <script>

      $(".addconnection").on("click", function() {
        $.post("/connections", {user: <%=current_user.id %>, card: <%= @card.id%>}).done(function(response_connection){
          if (response_connection.success ==true ){
            window.location = 'http://localhost:3000/users/' +response_connection.id + '/cards';
          }
        });
      });
      </script>
    <% else %>
     <%= render 'form' %>
    <% end %>

</div>

 