<div class="welcomepage">
  <p>Hello, <%= @user.first_name %>!<p>


<form id="send-text">
  <input type="text", id="sendtext", placeholder="Enter Phone" />
<button id="text">Text Card</button>
</form>

<%= form_tag(user_path(@user)) do %>
  <%= email_field_tag 'email' %>
  <%= submit_tag "Email Card" %>
<% end %>
<%= raw("<p><strong class='success'>#{flash[:notice]}</strong></p>") unless flash[:notice].nil? %>

<%= link_to "Rolodex", user_cards_path(@user) %>
<%= link_to "Edit Profile", edit_user_path(@user) %>


<% if @cards.empty? %>
<%= link_to("Create a new card", new_user_card_path(@user)) %>
<% else %>
  <% @cards.each do |card| %>
    <div class="card">
      <ul>
        <li><%= card.email %></li>
        <li><%= card.phone_number %></li>
        <li><%= card.organization %></li>
        <li><%= card.position %></li>
      </ul>
    </div>
  <% end %>
  <%= link_to("Create another card", new_user_card_path(@user)) %>
<% end %>

</div>
