<div class="welcomepage">
  <p>Hello, <%= @user.first_name %>!<p>

<%= form_tag( user_cards_path(@user), method: "get") do |f| %>
  <%= label_tag("My Cards") %>
  <%= select_tag(:my_cards, options_for_select(@my_card)) %>
  <%= submit_tag "Show", :name => nil%>
<% end %>

<%= form_tag("/users/#{@user.id}/sms") do %>
  <%= text_field_tag 'phone' %>
  <%= submit_tag "Text Card" %>
<% end %>

<%= form_tag(user_path(@user)) do %>
  <%= email_field_tag 'email' %>
  <%= submit_tag "Email Card" %>
<% end %>
<div class="flash-message">
<%= raw("<p><strong class='success'>#{flash[:notice]}</strong></p>") unless flash[:notice].nil? %>
</div>
<div class="flash-message">
<%= raw("<p><strong class='success'>#{flash[:text_notice]}</strong></p>") unless flash[:text_notice].nil? %>
</div>

<%= link_to "Rolodex", user_cards_path(@user) %>
<%= link_to "Edit Profile", edit_user_path(@user) %>


<% if @cards.empty? %>
<%= link_to("Create a new card", new_user_card_path(@user)) %>
<% else %>
  <% @cards.each do |card| %>
    <div class="card">
      <ul>
        <li><%= card.email %></li>
        <li><%= card.phone_number %></li>
        <li><%= card.organization %></li>
        <li><%= card.position %></li>
      </ul>
    </div>
    <ul class="edit">
      <li><%= link_to("edit", edit_card_path(card)) %></li>

     <li><%= form_tag card_path(card), method: "delete", data: {confirm: "Are you sure you want to delete this card?"} do %>
     <%= submit_tag("Delete") %>
     <% end %> </li>
    </ul>
  <% end %>
  <%= link_to("Create another card", new_user_card_path(@user)) %>
<% end %>

</div>
