<div class="welcomepage">
  <p>Hello, <%= @user.first_name %>!<p>
</div>

<form id="send-text">
  <input type="text", id="sendtext", placeholder="Enter Phone" />
<button id="text">Text Card</button>
</form>

<%= form_tag(user_path) do %>
  <%= email_field_tag 'email' %>
  <%= submit_tag "Email Card" %>
<% end %>

<<<<<<< HEAD
<<<<<<< HEAD
<%= link_to "Rolodex", user_cards_path(@user) %>
=======
<%= link_to "Rolodex", user_cards_path(@user) %>
>>>>>>> c56339f398a82aa682333cb7c29d09bdf4a023e5
=======
<%= link_to "Rolodex", user_cards_path(@user) %>
>>>>>>> afc3f15007e3b57fed380e42a31fc07db1dc5b0c
