
Submit Group Name:
<%= form_for [@user, @group] do |f| %>
  <%= f.label :group_name %>
  <%= f.text_field :group_name %>
  <%= f.submit "Submit" %>
<% end %>


See your connections:
<ul class="connection_card">
<% @connections.each do |connection| %>
<% card = Card.find(connection.card_id) %>
  <li class="<%=card.card_name.gsub(" ", "_")%>"><%= card.card_name %><button id="<%= connection.id%>">+</button>
    <% for group in @groups %>
    <div id="add-to-groups">
      <%= check_box_tag "#{group.group_name}", id="#{group.group_name}" %>
      <%= group.group_name %>
    </div>
    <% end %>
    <%= submit_tag "Add" %>
  </li>
<% end %>
</ul>

See your groups:
<ul>
<% @groups.each do |group| %>
  <li class="<%= group.group_name.gsub(" ","_")%>"><%= group.group_name %></li>
<% end %>
<ul>



<script>
  $('form').on("submit", function(e){
    e.preventDefault();
    input = $('input#group_group_name')
    $.ajax({
      url: '/users/' + <%= @user.id %> + '/groups',
      type: 'POST',
      data: {group_name: input.val()}
    });
  });
</script>
