
Submit Group Name:

<div id="group_form">
  <%= form_for [@user, @group] do |f| %>
    <%= f.label :group_name %>
    <%= f.text_field :group_name %>
    <%= f.submit "Submit" %>
  <% end %>
</div>

See All Your Connections
<ul class="connection-cards">
  <div class="groups">
    <div>
</ul>


<% card = Card.find(connection.card_id) %>
  <li class="<%=card.card_name.gsub(" ", "_")%>"><%= card.card_name %><button id="<%= connection.id%>">+</button>
    <% for group in @groups %>
    <div id="add-to-groups">
      <%= check_box_tag "#{group.group_name}", id="#{group.group_name}" %>
      <%= group.group_name %>
    </div>
    <% end %>
    <%= submit_tag "Add" %>
  </li>

<% end %>
</ul>

<script>
var allGroups;
function addGroups() {
  $('form').on("submit", function(e){
    e.preventDefault();
    input = $('input#group_group_name')
    $.ajax({
      url: '/users/' + <%= @user.id %> + '/groups',
      type: 'POST',
      data: {group_name: input.val()}
    });
    input.val("")
  showGroups()
  });
}

function showGroups() {
  $.getJSON("/users/" + <%= @user.id %> + "/groups", function(response) {
    allGroups = response;
    $("ul.groups").empty();
    for(i = 0; i < allGroups.length; i++) {
      ($("<li>" + allGroups[i].group_name + "</li>").append("<span>" + ' X ' + "</span>")).appendTo("ul.groups")
    }
  })
}

function deleteGroup() {
  $("span").on("click", function(){
    $.ajax({
      url: '/users/' + <%= @user.id %> + '/groups/' + <%= @group.id %>,
      type: "DELETE"
    })
    showGroups();
  })
}


showGroups();
addGroups();
// deleteGroup()

  
</ul>
See your groups:
<ul class="groups">

<ul>

<%= javascript_include_tag "cards", "data-turbolinks-track" => true %>

