
<body class="dashboard-body">


<div id='groupmenu'>


<div id="group-form">
  <%= form_for [@user, @group] do |f| %>
    <%= f.label :group_name %>
    <%= f.text_field :group_name %>
    <%= f.submit "Submit" %>
  <% end %>
</div>

<ul class="connection-cards">
  See All Your Connections
</ul>


<ul class="groups">
See your groups:
<ul>

<%= javascript_include_tag "cards", "data-turbolinks-track" => true %>

</body>
