<div class = "roladex">
Submit Group Name:

<div id="group_form">
  <%= form_for [@user, @group] do |f| %>
    <%= f.label :group_name %>
    <%= f.text_field :group_name %>
    <%= f.submit "Submit" %>
  <% end %>
</div>

See All Your Connections
<ul class="connection-cards">


</ul>

  <div class="groups">
  </div>


<div class="showcard">
</div>

  <script>

// $(".connection-cards").on("click","div", function(){
//   $(".showcard div").remove();
//   $(this).clone().appendTo(".showcard");
//   });
// </script>




See your groups:
<ul class="groups">

</ul>

<%= javascript_include_tag "cards", "data-turbolinks-track" => true %>
</div>

