
<body class="dashboard-body">


<div id='groupmenu'>


<div id="group-form">
  <%= form_for [@user, @group] do |f| %>
    <%= f.label :group_name %>
    <%= f.text_field :group_name %>
    <%= f.submit "Submit" %>
  <% end %>
</div>


See All Your Connections
<ul class="connection-cards">
  <div class="groups">
    <div>
</ul>


<div class ="news-stories">
  <h1>News Stories</h1>
  <% @nytarticles.take(4).each do |article| %>
    <li><a href= "<%= article["Url"] %>"><%= article["Title"] %></a></li>
  <% end %>
</div> 


See your groups:
<ul class="groups">




<%= javascript_include_tag "cards", "data-turbolinks-track" => true %>

</body>
