
<div class='roladex'>

<section id='menu-column'>

  <div id='dashboard-groups'>

    <div id="group_form">
      <%= form_for [@user, @group] do |f| %>
      submit <%= f.label :group_name %>
      <%= f.text_field :group_name %>
      <%= f.submit "Submit" %>
      <% end %>
    </div>


  <ul class="groups"> </ul>
  </div>



  <div class='connection-box'>
    <h3 id='connection-header'>See All Your Connections</h3>
    <ul class="connection-cards"></ul>
  </div>
</section> <!--close off section-->

<section id ="right-side-dashboard">
    <div class="showcard">
    </div>

    <div class="news-stories">
      <h3 id='news-stories-header'>News Stories</h3>
      <ul class ='articles'>
      </ul>
    </div>


  <div class='company-summary-box'> 
    <h3 id='company-header'>Company Summary</h3>
  </div>
</section>
  

   <%= javascript_include_tag "cards", "data-turbolinks-track" => true %>
</div> <!--close off roladex -->


