

<%= form_for [@user, @group] do |f| %>
  <%= f.label :group_name %>
  <%= f.text_field :group_name %>
  <%= f.submit "Submit" %>
<% end %>



<% @connections.each do |connection| %>
  <%= connection.card.user.first_name %>
<% end %>


<ul class="groups">
 <!-- @groups.each do |group| 
  <li><group.group_name </li>
 end --> 
</ul>


<script>
var allGroups;
function addGroups() {
  $('form').on("submit", function(e){
    e.preventDefault();
    input = $('input#group_group_name')
    $.ajax({
      url: '/users/' + <%= @user.id %> + '/groups',
      type: 'POST',
      data: {group_name: input.val()}
    });
    input.val("")
  showGroups()
  });
}
  

function showGroups() {
  $.getJSON("/users/" + <%= @user.id %> + "/groups", function(response) {
    allGroups = response;
    $("ul.groups").empty();
    for(i = 0; i < allGroups.length; i++) {
      ($("<li>" + allGroups[i].group_name + "</li>").append("<span id="+ allGroups[i].id + ">" + ' X ' + "</span>")).appendTo("ul.groups");

    }
  })
}

function deleteGroup() {
  var allSpans = $("span");
  for(i = 0; i < allSpans.length; i++){
    $(allSpans[i]).on("hover", function(){
      debugger
      console.log("hello")
    // $.ajax({
    //   url: '/users/' + <%= @user.id %> + '/groups/' + allGroups[0].id,
    //   type: "DELETE"
    // })
    showGroups();
  })
  }
  
}


showGroups();
addGroups();
deleteGroup()
  
</script>
