<!DOCTYPE html>
<html>
<head>
  <title>Cardme</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
  <% unless @user.nil? %>
    <script>
    localStorage["user_id"] = <%= @user.id %>
    </script>
  <% end %>
</head>
<body>

<header>
  <nav>
    <ul class="topnav">
      <li><%= link_to "Profile", user_path(session[:user_id]) unless session[:user_id].nil?%>
        <ul class="dropdown">
          <li><a href="#">Edit Profile</a></li>
        </ul>
      </li>

    <li> <%= link_to("Log Out", "/logout", method: "delete") unless session[:user_id].nil? %>
   </li>
  </ul>
</header>



<%= yield %>

</body>
</html>
